footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
}

.site-nav-item {
  display: inline-block;
}

.link {
  padding: 10px 5px 0px 5px;
  margin: 5px;
  text-align: right;
}

.logo {
  right: 5px;
  text-align: left;
}

.home {
  margin-left: 900px;
}

.sign-up {
  background: #59c3c3;
  color: white;
  border-radius: 25px;
  padding-bottom: 10px;
}

.sign-up-box {
  padding: 50px;
  bottom: 200px;
  right: 50px;
  background: #59c3c3;
  opacity: 0.8;
  color: white;
  border-radius: 25px;
  height: 25%;
  width: 35%;
  display: grid;
  grid-column: 2 / 3;
  position: absolute;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.raptors {
  width: 100%;
}

.main-image {
  display: grid;
  grid-column: 1 / 3;
  position: relative;
}

.event {
  border: gray solid 2px;
  padding: 10px;
  margin-bottom: 50px;
  width: 40%;
}

.events {
  margin-bottom: 100px;
}

.event-map {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.events-list {
  overflow: hidden;
  overflow-y: scroll;
  height: 600px;
  width: 90%;
}

.each-event:hover {
  background: #ccccd6;
}

.each-event {
  margin-top: 10px;
}

.each-event:first-child {
  margin-top: 0px;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.site-nav {
  text-align: right;
  vertical-align: center;
  margin-right: 30px;
  padding: 15px 0px;
}

.site-nav-item {
  padding: 0px 5px;
}
