footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.site-nav-item {
  display: inline-block;
}

.link {
  padding: 10px 5px 0px 5px;
  margin: 5px;
  text-align: right;
}

.logo {
  right: 5px;
  text-align: left;
}

.home {
  margin-left: 900px;
}

.sign-up {
  background: #59c3c3;
  color: white;
  border-radius: 25px;
  padding-bottom: 10px;
}

.sign-up-box {
  padding: 50px;
  position: absolute;
  bottom: 200px;
  right: 50px;
  background: #59c3c3;
  opacity: 0.8;
  color: white;
  border-radius: 25px;
  height: 25%;
  width: 35%;
}

.container {
  text-align: center;
}

.raptors {
  position: relative;
  width: 100%;
}

.event {
  border: gray solid 2px;
  padding: 10px;
  margin-bottom: 50px;
  width: 40%;
}

.events {
  margin-bottom: 100px;
}

.event-map {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

#map {
  height: 400px;
  width: 100%;
}
