body, * {
  box-sizing: content-box;
}

body{
  background-color: #C2E1C2;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.events-list {
  overflow: hidden;
  overflow-y: scroll;
  height: 600px;
  width: 90%;
  border: 4px solid #BAC7BE;
  list-style: none;
  padding: 5px 20px;
  background: #80AB82;

}

.each-event:hover {
  background: #BAC7BE;
  opacity: 0.7;
}

.each-event {
  margin-top: 10px;
  border-bottom: dotted 2px gray;
  padding-left: 20px;
}

.each-event:first-child {
  margin-top: 0px;
}

.each-event:last-child {
  border: none;
  padding-bottom: 1px;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__container {
  position: relative;
  display: inline-block;
  margin-left: 450px;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.pagination {
  list-style: none;
  margin-top: 40px;
  margin-left: -40px;
}

.pagination-list-item {
  display: inline;
  text-align: center;
  border: solid #778472 1px;
  padding: 10px 15px;
  background: #BAC7BE;
}

.pagination-link {
  text-decoration: none;
}

.active {
  background: white;
}

.datepicker {
  height: 30px;
  width: 140px;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.suggest-button {
  width: 100px;
  height: 50px;
  border-radius: 4px;
  background: #7DCD85;
  margin-left: 10px;
  font-size: 15px;
  color: #778472;
  font-weight: bold;
}

.autosuggest-title {
  color: #778472;
  margin-left: 446px;
  padding-top: 35px;
}

footer {
  background-color: #778472;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-list > li {
  list-style: none;
  font-size: 0.75em;
  margin: 0;
}

footer > p {
  font-size: 0.75em;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-top: 50px;
}

.datepicker:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#root {
  background: #C2E1C2;
}

.logo {
  width: 150px;
  height: 70px;
}

.avatar {
  width: 150px;
  height: 150px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BAC7BE;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}