{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<main class="">

  <div class="container">
    <div class="main-image">
      <img class="raptors" src="{% static 'img/raptors.jpg' %}" alt="raptors">
    </div>
    <div class="sign-up-box">Sign up for free</div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

  <section class="event-map">
    <div class="events">
      <h3>What's happening today?</h3>
      <ol class="events-list" id="infinite-list">

        {% for event in events %}
          <li class="each-event">{{ event.title }} | Start Time: {{ event.start_time }} | End Time: {{ event.end_time }}
            <p>{{ event.description | truncatechars:200 }}</p>
            <p class="venue-name">Venue: {{ event.venue_name }}</p>
            <p><a href="{% url 'event_show' id=event.pk %}">See Details</a></p>

          </li>
        {% endfor %}

      </ol>
      <ul class="pagination"></ul>


      <div class="pagination">
        <span class="step-links">
        {% if events.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ events.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ events.number }} of {{ events.paginator.num_pages }}.
        </span>

        {% if events.has_next %}
            <a href="?page={{ events.next_page_number }}">next</a>
            <a href="?page={{ events.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </span>


      </div>


    </div>
    <div id="map">
    </div>
  </section>
</main>
<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_KEY}}&callback=initHomeMap" async defer></script>
{% endblock %}
