{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<main class="">

  <div class="container">
    <div class="main-image">
      <img class="raptors" src="{% static 'img/raptors.jpg' %}" alt="raptors">
    </div>
    <div class="sign-up-box">Sign up for free</div>
  </div>

  <section class="event-map">
    <div class="events">
      <h3>What's happening today?</h3>
      <ol class="events-list">

        {% for event in events %}
          <li class="each-event">{{ event.title }} | Start Time: {{ event.start_time }} | End Time: {{ event.end_time }}
            <p>{{ event.description | truncatechars:200 }}</p>
            <p><a href="{% url 'event_show' id=event.pk %}"> See Details</a></p>

          </li>
        {% endfor %}

      </ol>
    </div>
    <div id="map">
    </div>
  </section>
</main>
<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_KEY}}&callback=initMap" async defer></script>
{% endblock %}
